GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=mixtral-8x7b

ELEVENLABS_API_KEY=your_elevenlabs_api_key_here
ELEVENLABS_VOICE_ID=your_elevenlabs_voice_id_here

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

HF_OCR_MODEL=hf_models/zenosai/MonkeyOCRv2-B
HF_TTS_MODEL=hf_models/myshell-ai/MeloTTS-English-v2
